{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<!--	<style>#first {
    background-color: yellow;
}</style> -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/prueba.css' %}">
	<title>{% block title%} Document {%endblock %}</title>
</head>
<body class="container">

	<p id="first"> hola como estas</p>
	{% block header%}

	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
  </div>
</nav>
	{%endblock %}

	{% block content %}

	<h4>Este es el contenido del archivo base</h4>

	{% endblock %}


	{% block footer%}

	<h4>Soy el footer</h4>

	{%endblock %}
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>
</html>